extends layout

block content
  - weather = weather_underground

  #canvas
    #status
      #statusItems
        if vertretungsplan
          strong: a(href=vertretungsplan target="_blank")
            img(src="/images/school.svg")
            |  Vertretung
        if new Date().getHours() < 12 && awigo[weather.forecast[0].date]
          for item in awigo[weather.forecast[0].date]
            strong
              img(src="/images/trash.svg")
              |  #{item.name}
    #current(class="#{tempdelta.aussen >= 1 ? 'current-delta--up' : ''}#{tempdelta.aussen >= 2 ? '-up' : ''} #{tempdelta.aussen <= -1 ? 'current-delta--down' : ''}#{tempdelta.aussen <= -2 ? '-down' : ''}")
      img(src="/images/weather/#{weather.today.icon}.svg")
      p.temp: span #{formatTemp(uvr.aussen)}

    #special
      if special_day
        p(data-type=special_day[0].type)
          if special_day[0].type == "namenstag"
            small Namenstag
          a(href=special_day[0].url, target="_blank")= special_day[0].name
      img(src=today_icon)

    #today
      if weather.probabilityMax >= 20 || weather.windSpeedMax >= 20
        #rain
          .rain-label
            if weather.probabilityMax >= 20
              p #{weather.probabilityMax}<small>%</small>
              img(src="images/drop.svg")
          .ct-chart
          .wind-label
            if weather.windSpeedMax >= 20
              p #{weather.windSpeedMax}<small>km/h</small>
              img(src="images/wind.svg")

          script.
            var data = {
              labels: [#{weather.rain.hour.join(',')}],
              series: [{
                name: "rain",
                data: [#{weather.rain.probability.join(',')}]
              }, {
                name: "wind",
                data: [#{weather.wind.speed.join(',')}]
              }]
            };

            var options = {
              width: 140,
              height: 90,
              lineSmooth: true,
              low: 0,
              high: 100,
              fullWidth: true,
              axisX: {
                showGrid: false,
                offset: 15
              },
              axisY: {
                showGrid: true,
                showLabel: false,
                offset: 5
              },
              showPoint: false
            };

            Chartist.Line('.ct-chart', data, options);

      img#house(src="/images/house.svg")
      p.temp(class="#{tempdelta.innen >= 0.1 ? 'temp-delta--up' : ''}#{tempdelta.innen >= 0.2 ? '-up' : ''} #{tempdelta.innen <= -0.1 ? 'temp-delta--down' : ''}#{tempdelta.innen <= -0.2 ? '-down' : ''}")
        span #{formatTemp(pluggit.innen)}
      p.speed #{pluggit.speed}
      img#bypass(src="/images/bypass_#{pluggit.bypass=='open' ? 'open' : 'closed'}.svg")

    #forecast
      for entry in weather.forecast
        section
          h2
            =entry.day
            if awigo[entry.date]
              for item in awigo[entry.date]
                strong= item.letter
            if moon[entry.date]
              img.moon(src="/images/moon/#{moon[entry.date]}.svg")
          img(src="/images/weather/#{entry.icon}.svg")
          .range
            .grid
              if weather.temperatureMax >= 0 && 0 >= weather.temperatureMin
                hr.grid-line(class="grid-line_0", style="top: #{100/(weather.temperatureMax-weather.temperatureMin)*(weather.temperatureMax)}%")
            .inner(style="top: #{100/(weather.temperatureMax-weather.temperatureMin)*(weather.temperatureMax-entry.max)}%; bottom: #{100/(weather.temperatureMin-weather.temperatureMax)*(weather.temperatureMin-entry.min)}%")
              .max= formatTemp(entry.max)
              .min= formatTemp(entry.min)

  //-for debugging
  //-pre= JSON.stringify(awigo, "", " ")
